body {
    color: #ffffff;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 150px;
    margin: 0px;
    background: #4c4c4c;
  }
  .site-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .footer-section {
    font-family: Verdana;
    text-align: center;
    color: #dddddd;
    background: #2c2c2c;
    border-bottom: 1px solid #111111;
    display: block;
    padding: 0px 10px;
    height: 50px;
  }
  a:hover {
    color: #aaaaaa
  }

  .list-item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    height: 500px;
  }

  #list {
    overflow-y: scroll;
  }